.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 500ms cubic-bezier(.25,.1,.25,1);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
